<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Day2 Project</title>

		<!-- Custom CSS -->
		<link rel="stylesheet" type="text/css" href="assets/stylesheet/style.css">
	</head>
	<body>
		<!-- Header -->
		<header>
			<h1>A guide to learn html</h1>
			<h2>Div Paragraph heading unordered list form</h2>
		</header>
		<!-- Main Body -->
		<main>
			<section>
				<!-- Article -->
				<article>
					<h2>Important Advices</h2>
					<img src="assets/media/html5_logo.png" alt="html5_logo">
					<p><mark>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</mark></p>
				</article>
			</section>
			<!-- List of track -->
			<section class="track">
				<h3>The best track:</h3>
				<ol class="track-list">
					<li>Learn Html</li>
					<li>Learn Html5</li>
					<li class="track-list__item3">Learn css</li>
				</ol>
			</section>
		</main>
		<!-- Footer -->
		<footer>
			<small>Copyright &copy; 2016-2017 All right reserved to :Osama mohsen</small>
		</footer>
	</body>
</html>