
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*,*:before,*:after{
	box-sizing: border-box;
}

.logo{
	width: 30px;
	height: 30px;
}

.header{
	font-weight: 800;
	font-size: 30px;
	padding: 10px 20px;
	color: #CEBD94;
}

.gallery{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-auto-flow: row;

}

img{
	width: 100%;
	height: 100%;
}

.section1{
	display: grid;
	grid-template-columns: 2fr 3fr 1fr;
	height: 350px;
}

.section1-2{
	display: grid;
	grid-template-rows: 1fr 2fr;
}

.box{
	background: #38372B;
	color: white;
	padding: 20px;
	font-size: 15px;
	line-height: 1.5;
}
.box h2{
	font-size: 25px;
}
.box a{
	text-decoration: none;
	color: #FE9404;

}

.section2{
	display: grid;
	grid-template-columns: 1fr 1fr 2fr 2fr;
	height: 350px;
}

.section3{
	display: grid;
	grid-template-columns: 2fr 1fr 3fr;
	height: 350px;
}

@media screen and (max-width: 700px){

	.section1{
		display: grid;
		grid-template-columns: none;
		grid-template-rows: 1fr 2fr 3fr; 
		grid-auto-flow: row;
		height: 100%;
	}
	.section1-2{
		display: grid;
		grid-template-columns: none;
		grid-template-rows: 1fr 1fr; 
		grid-auto-flow: row;
	}
	.section2{
		display: grid;
		grid-template-columns: none;
		grid-template-rows: 2fr 2fr 2fr 1fr;
		grid-auto-flow: row;
		height: 100%;
	}
	.section3{
		display: grid;
		grid-template-columns: none;
		grid-template-rows: 1fr 1fr;
		grid-auto-flow: row; 
		height: 100%;
	}
}
