/*   CSS Resets   */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	/*list-style: none;*/
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*  Main CSS   */

body {
	text-align: center;
	color: #fff;
}

h1, h2, h3 {
	font-weight: bold;
}


/*  Header CSS  */
header {
	background: #777;
	text-transform: capitalize;
}
header h1 {
	padding: 20px 0;
	font-size: 32px;
	color: #fafafa;
}
header h2 {
	background: #bbb;
	color: #555;
}

main {
	background: #272727;
	padding: 40px 30px;
}

/* Article CSS */
article h2{
	font-size: 40px;
	color: red;
}
img {
	width: 150px;
	margin-top: 30px;
}
mark {
	background: #888;
	color: #fff;
}
p {
	line-height: 1.25;
}

/*   Tracks   */

.track {
	margin-top: 30px;
}
.track h3 {
	font-size: 24px;
}
.track-list {
	margin-top: 30px;
	display: inline-block;
	text-align: left;
}
.track-list  {
	list-style-position: inside;
}
.track-list li {
	padding-left: 20px;
}
.track-list__item3 {
	background: #888;
	
}


/*  Footer  */
footer {
	background: #663d00;

}






